<div id='container'>
	<div id='img'><img src="assets/logo.png" /></div>
</div>
<div id='footer'>
	<div>
		<h1 id='about'>About WDI</h1>
	</div>
	<div id='footer_content'>
		<h1>Web Development Immersive Program</h1>
		<h2>at</h2><img src="assets/GA.png" />

		<h3>Meet our instructors</h3>

		<p>blahblahblahbla</p>
		<p>blahblahblahbla</p>
		<p>blahblahblahbla</p>
		<p>blahblahblahbla</p>
		<p>blahblahblahbla</p>
		<h1>Call Me!</h1>
		<p id="footer-button">Exit</p>
	</div>
</div>