<div id='container'>
	<div id='img'><img src="assets/logo.png" /></div>
</div>
<div id='footer'>
	<div>
		<h1 class='button' id='about'>About Us</h1>
	</div>
	<div id='footer_content'>
		
		<img class = 'ga' src="assets/GA.png" />

		<p>They say the web development immersive at General Assembly is from 9am-5:30pm, Monday through Friday, for twelve weeks. We discovered this was false. You could find us after school in the lounge or chatting deep into the night about the best way to implement the slew of technologies in our projects. Our dreams were about code, our nightmares involved a forgotten git commit, and every morning we woke up with new solutions to share. Immersive means you never stop. And we don't plan to.</p>
		<table>
			<thead>
				<tr>
					<td><i class="icon-code icon-2x"></i></td>
					<td></td>
					<td></td>

				</tr>
			</thead>
			<tbody>
				<tr>
				<td>HTML5/CSS3</td>
		   		<td>JavaScript/jQuery</td>
		   		<td>AJAX</td>
		   		<td>Backbone</td>
				<td>Ruby on Rails 3.2 & 4.0</td>
				<td>PostgreSQL</td>
				<td>MongoDB</td>
				<tr>
			</tbody>
        </table>
        <p>We would like to give a sincere thank you to our awesome instructors Clayton Liggit, Andrew Madden, Omar Delarosa</p>
        <!-- <img id ='teachers' src="assets/teacherspic.png" /> -->
        <img class='teacherimg' src="assets/omar.png" />
        <img class='teacherimg' src="assets/clayton.png" />
        <img class='teacherimg' src="assets/andrew.png" />

		<p id="footer-button">Exit</p>
	</div>
</div>