/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require animate
 *= require_self
 *= require_tree .
 */

 img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/*html {
	padding: 0px;
}*/

html { 
  background: url(main.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	/*background-image: url('main.png');*/
	/*width: 100%;*/
	/*height: 90%;*/
	/*background-repeat: no-repeat;*/
	padding: 0px;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 0.7em;
	color: white;
}

div {
	padding: 0px;
	margin: 0px;
}


.button {
	background: none;
	border: 2px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	width: 266px;
	margin-top: 40px;
	font-weight: 300;
	color: #fff;
	width: 266px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer {
	padding: 0px;
	margin: 0px;
	width: 100%;
	background-color: #292929;
	color: white;
	position: fixed;
	/*height: 70px;*/
	bottom: 0px;
	text-align: center;	
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
}

#img {
	float: right;
	padding: 5px;
}

#img {
	padding-top: 10px;
	padding-right: 20px;
	height: 140px;
	width: auto;
}

#about {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;

}

#footer_content {
	background-color: white;
	width: 70%;
	margin: 0 auto;
	border-radius: 12px;
}

#footer p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #292929;
	font-size: 1.2em;
	padding: 20px;
}

#footer div {
	padding: .7%;
}

#footer .ga {
	width: 100px;
	height: auto;
}

#footer div:hover {
	cursor: pointer;
} 

.info {
	background: #AAA; 
	opacity: 1;
	width: 100%;
	height: 100%;
	display: block;
}

.info div {
	width: 45%;
	height: 100%;
	display: inline-block;
}

.student {
	font-size: 1.5em;
	margin: 5px;
	width: 7%;
	height: 16.8%;
	opacity: 0;
}

#underline {
	background-color: black;
	border-radius: 2px;
	padding: 2px;
}

.student:hover {
	opacity: 1;
	cursor: pointer;
}

#triangle {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 60px;
	height: auto;
}


/*#teachers {
	width: 50%;
	height: auto;
	margin-bottom: 10px;
	-moz-border-radius: 1800px;
 	-webkit-border-radius: 180px;
 	border-radius: 180px;
/*	width:200px;
	height:200px;
}*/

.teacherimg {
	width: 20%;
	padding: 20px;
	height: auto;
	margin-bottom: 10px;
}

#infoimg {
	height: 90%;
	padding-left: 10%;
	margin-top: 2%;
}

#infoimg img {
	height: 100%;
}

#projimg {
	height: 50%;
	width: auto;
	position: relative;
	overflow: auto;
	border: solid 25px white;
	-moz-border-radius: 30px;
	border-radius: 30px;
}











