/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require animate
 *= require_self
 *= require_tree .
 */

html {
	padding: 0px;
}

body {
	background-image: url('main.png');
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 0.7em;
	color: white;
}

div {
	padding: 0px;
	margin: 0px;
}

.button {
	background: none;
	border: 2px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #fff;
	width: 266px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer {
	padding: 0px;
	margin: 0px;
	width: 100%;
	background-color: #292929;
	position: fixed;
	/*height: 70px;*/
	bottom: 0px;
	text-align: center;	
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
}

#img {
	float: right;
	padding: 5px;
}

#img img {
	padding-top: 10px;
	padding-right: 20px;
	height: 140px;
	width: auto;
}

#footer div {
	padding: .7%;
}

#footer img {
	width: 100px;
	height: auto;
}

#footer div:hover {
	cursor: pointer;
} 

.info {
	background: yellow; 
	opacity: 1;
	height: 100%;
	width: 100%;
}

.student {
	font-size: 1.5em;
	margin: 5px;
	width: 100px;
	height: 100px;
	opacity: 0;
}

.student:hover {
	opacity: 1;
	cursor: pointer;
}

.student img{
	width: 60px;
	height: auto;
}

#triangle {
	position: absolute;
	top: 50px;
	left: 50px;
}










